/**
  * This file is used to define the theme for the application.
  * It is used by the SMUI components to style themselves.
  * It is also used by the application to style itself.
  *
  * This file is written in SCSS, which is a superset of CSS.
  * SCSS allows us to define variables, functions, and other
  * useful features that are not available in CSS.
  *
  * For more information on SCSS, see the documentation at
  * https://sass-lang.com/documentation
  *
  * List of available colors: https://sveltematerialui.com/THEMING.md
  */
@use 'sass:color';

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
  $primary: #75b1d8,
  $secondary: #676778,
  $surface: #fff,
  $on-primary: #000,
  $on-secondary: #fff,
  $on-surface: #000,
  $background: #fff,
  $error: #b71c1c
);

@use '@material/theme/styles';

:root {
  --primary-color: hsl(204, 56%, 65%);
  --secondary-color: #676778;
  --surface-color: #fff;
  --background-color: #fff;
  --error-color: #b71c1c;
  --chat-other-color: #ffd3d3;
  --chat-self-color: #cdffdd;

  --link-color: #40b3ff;

  --primary-10: hsl(204, 56%, 10%);
  --primary-30: hsl(204, 56%, 30%);
  --primary-50: hsl(204, 56%, 50%);
  --primary-70: hsl(204, 56%, 70%);
  --primary-90: hsl(204, 56%, 90%);

  --title-color: var(--primary-10);

  --assigned-to-me-color: hsl(45, 100%, 70%);
  --assigned-to-team-color: hsl(45, 100%, 80%);
  --data-owner-color: hsl(10, 50%, 80%);
  --editor-color: hsl(300, 40%, 70%);
  --quality-assurance-color: hsl(200, 40%, 70%);
  --ready-for-release-color: hsl(100, 40%, 70%);
}

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: var(--link-color);
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
