name: Pull Request

on: pull_request

jobs:
  build:
    name: Run tests and build artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Setup bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Create .env file
        run: cp .env.example .env

      - name: Run typecheck
        run: bun run check

      - name: Run lint
        run: bun run lint

      - name: Run tests
        run: bun run test

      - name: Build artifacts
        run: bun run build
